/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("common.css");

body {
  display: flex;
  box-sizing: padding-box;
  min-height: 100vh;
  padding: 68px 48px;
  align-items: top;
  justify-content: center;
}

ul, ol {
  margin: 0;
  padding: 0;
  -moz-margin-start: 1em;
  -webkit-margin-start: 1em;
}

ul > li, ol > li {
  margin-bottom: .5em;
}

ul {
  list-style: disc;
}

#errorPageContainer {
  min-width: 320px;
  max-width: 564px;
}

#errorTitleText {
  background: url("../images/info.svg") left 0 no-repeat;
  background-size: 32px;
  background-position: 0 4px;
  -moz-margin-start: -58px;
  -moz-padding-start: 58px;
  -webkit-margin-start: -58px;
  -webkit-padding-start: 58px;
}

#errorTitleText.missing-icon {
  background-image: url("../images/missing.svg");
}

#errorTitleText:-moz-dir(rtl) {
  background-position: right 0;
}

#errorLongDesc {
  margin-bottom: 26px;
}

#errorContainer {
  display: none;
}

@media (max-width: 675px) {
  #errorTitleText {
    background-image: none;
  }
}


/* common.css overrides */

button {
  min-width: 150px;
}

/* Pressing the retry button will cause the cursor to flicker from a pointer to
 * not-allowed. Override the disabled cursor behaviour since we will never show
 * the button disabled as the initial state. */
button:disabled {
  cursor: pointer;
}
